# OpenAI
OPENAI_API_KEY=paste_your_openai_key_here

# Paddle Classic
NEXT_PUBLIC_PADDLE_VENDOR_ID=300787
NEXT_PUBLIC_PADDLE_PLAN_ID=pri_01kt1nxpkxr4c5e54h6zzg3dnd
PADDLE_API_KEY=paste_your_paddle_api_key_here
PADDLE_PUBLIC_KEY="paste_your_paddle_public_key_here"

# Supabase
NEXT_PUBLIC_SUPABASE_URL=paste_your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=paste_your_supabase_anon_key_here
SUPABASE_SERVICE_ROLE_KEY=paste_your_supabase_service_role_key_here

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
